<div class="nav-btn">
  <label for="nav-check">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>
<nav class="navbar">
  <a href="#home">Home</a>
  <a href="#aboutme">About me </a>
  <a href="#work-experience">Work Experience</a>
  <a href="#education">Education</a>
  <a href="#contact-me">Contact me</a>
</nav>
<div
  id="particles-js"
  style="position: fixed; height: 100vh; width: 97vw;"
></div>

<!-- <particles [style]="style" [width]="width" [height]="height" [params]="params"></particles> -->
