.about-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  /* align-items: center; */
}

.about-container h2 {
  font-size: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
}

.about-container p {
  font-size: 18px;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .about-container p {
    width: 100%;
  }
}
