/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background: #222;
  color: #fff;
  font-family: "Righteous", cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(219, 219, 219);
}
